# rust stuff.
target
Cargo.lock

# I put a lot of super legal stuff in here.
roms/legal/

# I store a lot of debug information in here.
debug-info/

data/sav/

# No$GBA stuff
*.sna
imgui.ini

data/settings.json
